[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

div {
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: pink;
}

.tab:hover {
  background-color: bisque;
}

.cursor-default {
  cursor: default;
}

tr {
  border: none;
}
